extends layout.pug

block content

  - const { project_name, description, technologies, live_link, github_link, image_urls } = project;

  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1= project_name
        p.lead.text-light= description

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies
        ul
          each technology in technologies
            li= technology
        if live_link
          a.button.expanded(href=`${live_link}`) Live Demo
        a.button.expanded(href=`${github_link}`) GitHub Repo
    
    //- Project Images - skips the first main image in each project's image_urls array
    - for (let x = 1; x < image_urls.length; x++)
      img.image(src=`${image_urls[x]}`)